* {
  margin: 0 0 0 0;
}

body {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 20px;
}

img {
  max-width: 100%;
}

.navigation {
  padding: 20px 10px;
  color: white;
  background-color: #000;
  margin-bottom: 20px;
}

.navigation ul {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

.navigation li {
  display: inline-block;
  margin: 5px;
}

.navigation .right-nav {
  text-align: right;
  float: right;
}

.main {
  display: flex;
}

.main .section-1 {
  flex: 2;
  margin-right: 10px;
}

.main .section-2 {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.main .section-2 img {
  width: 200px;
}
